<template>
  <div id="wrapper">
    <main>
      <div class="left-side">
        <span class="title">
          File List
        </span>
        <file-list :files="files" @fileIdSelected="loadFile"></file-list>
      </div>

      <div class="right-side">
        <div class="doc">
          <tag-list :tags="tags" :selectedTags="selectedTags"></tag-list>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
  import TagDB from '../database'
  import FileList from './Tagger/FileList'
  import TagList from './Tagger/TagList'

  let mpv = require('node-mpv')
  let mpvPlayer = new mpv()

  var tagdb = new TagDB('/tmp/tagster.tmp.sqlite3')

  var taggerState = {
    tags: tagdb.tags(),
    files: tagdb.files(),
    selectedTags: []
  }

  export default {
    name: 'tagger',
    components: { FileList, TagList },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      },
      loadFile(fileId) {
          taggerState.selectedTags = tagdb.tagsForFile(fileId)
          mpvPlayer.load('/media/nina/webop/movies-watched/' + tagdb.fileForId(fileId))
      }
    },
    data: function() {
      return taggerState
    },
    events: {

    }
  }
</script>

<style>

</style>
