<template>
  <select id="fileSelector" @change="fileChanged">
    <option v-for="file in files" :value="file.id">{{ file.name }}</option>
  </select>
</template>

<script>
export default {
  props: ['files'],
  methods: {
    fileChanged: function(event) {
      this.$emit('fileIdSelected', event.target.value)
    }
  }
}
</script>

<style>
#fileSelector {
  width: 200px;
}
</style>
